* {
    color: white;
    font-family: sans-serif;
}

h1 {
    

}

body {
    background-color: red;
}

header{
    margin-left: 2em;
}

h2 {
    grid-column-start: 0;
    margin-top: -0.3em;
    margin-left: -0.1em;
    font-size: 50px;
    max-width: 5em;
    
}

h2:hover {
    color: red;
}

article {
    background-color: black;
    margin: 2em;
    padding: 2em;
    display: grid;
    grid-template: 50% 50%;
}

img {
    width: 12em;
    grid-column-start: 1;
    margin: 2em;
}



ul {
    grid-column-start: 2;
    margin: 2em;
    list-style-type: none;
    
}

li {
    padding: .5em;
    margin-left: -5em;
}

button {
    color: black;
    width: 10em;
    height: 3em;
    border-radius: 3em;
    border: none;
    margin: 1em;
}
